<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>設計契約フォーム</title>
</head>
<body>
    <!-- タイトル：新規登録 or 更新処理 -->
    <h2 th:if="${designContractForm.isNew}">設計契約新規登録</h2>
    <h2 th:unless="${designContractForm.isNew}">設計契約更新処理</h2>
    <!-- アクション：新規登録 or 更新処理 -->
    <form th:action="${designContractForm.isNew} ? @{/design-contract/add} : @{/design-contract/{id}/revice(id=${designContractForm.dcId})}"
        th:object="${designContractForm}" method="post">
            <!-- 新規登録時のidはAUTO_INCREMENTによる自動採番のため仕込み不要 -->
            <!-- 更新処理時のidはhiddenで仕込み、文字はth:textでも表示しない(th:text文を削除) -->
            <div th:unless="${designContractForm.isNew}">
                <input type="hidden" th:field="*{dcId}" id="dcId">
            </div>
            <!-- 以下は、上記以外のinput -->
            <label for="contractNumber">業務番号</label>
            <div>
                <input type="text" th:field="*{contractNumber}" id="contractNumber">
                <span th:if="${#fields.hasErrors('contractNumber')}" th:errors="*{contractNumber}" style="color: red;"></span>
            </div>
            <label for="contractName">業務名称</label>
            <div>
                <input type="text" th:field="*{contractName}" id="contractName">
                <span th:if="${#fields.hasErrors('contractName')}" th:errors="*{contractName}" style="color: red;"></span>
            </div>
            <label for="customerName">発注者名</label>
            <div>
                <input type="text" th:field="*{customerName}" id="customerName">
                <span th:if="${#fields.hasErrors('customerName')}" th:errors="*{customerName}" style="color: red;"></span>
            </div>
        <!-- ボタン：新規登録 or 更新処理 -->
        <input th:if="${designContractForm.isNew}" type="submit" value="登録">
        <input th:unless="${designContractForm.isNew}" type="submit" value="更新">
    </form>
    <h3>画面遷移表示</h3>
    <a th:href="@{/}">メニューへ戻る</a>
    <a th:href="@{/design-contract/list}">設計契約一覧へ戻る</a>
    <br>
    <!-- ログアウト -->
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="ログアウト">
    </form>
</body>
</html>