<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>設計契約一覧</title>
</head>
<body>
    <h2>設計契約一覧</h2>
    <!-- Flashメッセージの表示 -->
    <p th:if="${message}" th:text="${message}" style="color: blue;">
        完了メッセージ
    </p>
    <p th:if="${errorMessage}" th:text="${errorMessage}" style="color: red;">
        エラーメッセージ
    </p>
    <table border="1">
        <thead>
            <tr>
                <th>業務番号</th>
                <th>業務名称</th>
                <th>発注者名</th>
                <th>詳細</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="designContract : ${designContract}">
                <td th:text="${designContract.contractNumber}"></td>
                <td><a th:href="@{/construction-contract/{id}/specify(id=${designContract.dcId})}" th:text="${designContract.contractName}"></a></td>
                <td th:text="${designContract.customerName}"></td>
                <td><a th:href="@{/design-contract/{id}/detail(id=${designContract.dcId})}">詳細</a></td>
            </tr>
        </tbody>
    </table>
    <h3>画面遷移表示</h3>
    <a sec:authorize="hasAuthority('EDITOR')" th:href="@{/design-contract/create}">新規登録</a>
    <a th:href="@{/}">メニューへ戻る</a>
    <br>
    <!-- ログアウト -->
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="ログアウト">
    </form>
</body>
</html>