<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>内訳種目詳細</title>
</head>
<body>
    <h2>内訳種目詳細</h2>
    <table border="1">
        <tr>
            <th>工事契約</th>
            <td th:text="${breakdownCd.constructionContract.projectName}"></td>
        </tr>
        <tr>
            <th>内訳頭紙区分</th>
            <td th:text="${breakdownCd.categoryOutline.coTypeName}"></td>
        </tr>
            <th>内訳頭紙</th>
            <td th:text="${breakdownCd.bcdBcoId}"></td>
        </tr>
        <tr>
            <th>内訳種目区分</th>
            <td th:text="${breakdownCd.categoryDetail.cdTypeName}"></td>
        </tr>
        <tr>
            <th>用途概略区分</th>
            <td th:text="${breakdownCd.bcdPoId}"></td>
        </tr>
        <tr>
            <th>用途詳細区分</th>
            <td th:text="${breakdownCd.bcdPdId}"></td>
        </tr>
        <tr>
            <th>整列番号</th>
            <td th:text="${breakdownCd.bcdOrder}"></td>
        </tr>
        <tr>
            <th>種目名称</th>
            <td th:text="${breakdownCd.bcdTypeName}"></td>
        </tr>
        <tr>
            <th>金額</th>
            <td style="text-align: right;" th:text="${#numbers.formatInteger(breakdownCd.bcdPrice, 3, 'COMMA')} + '円'"></td>
        </tr>
        <tr>
            <th>建築面積</th>
            <td th:text="${breakdownCd.bcdAreaBuilding}"></td>
        </tr>
        <tr>
            <th>延床面積</th>
            <td th:text="${breakdownCd.bcdAreaTotalfloor}"></td>
        </tr>
        <tr>
            <th>改修面積</th>
            <td th:text="${breakdownCd.bcdAreaRenovation}"></td>
        </tr>
        <tr>
            <th>外構面積</th>
            <td th:text="${breakdownCd.bcdAreaExterior}"></td>
        </tr>
        <tr>
            <th>登録日時</th>
            <td th:text="${#temporals.format(breakdownCd.bcdCreatedAt, 'yyyy-MM-dd hh:mm:ss')}"></td>
        </tr>
        <tr>
            <th>更新日時</th>
            <td th:text="${#temporals.format(breakdownCd.bcdUpdatedAt, 'yyyy-MM-dd hh:mm:ss')}"></td>
        </tr>
        <tr>
            <th>最終編集者</th>
            <td th:text="${breakdownCd.employee.lastName} + ' '+ ${breakdownCd.employee.firstName}"></td>
        </tr>
    </table>
    <h3>画面遷移表示</h3>
    <a sec:authorize="hasAuthority('EDITOR')" th:href="@{/breakdown-cd/{id1}/{id2}/edit(id1=${breakdownCd.bcdBcoId}, id2=${breakdownCd.bcdTypeName})}">更新</a>
    <a th:href="@{/}">メニューへ</a>
    <br>
        <!-- <form sec:authorize="hasAuthority('ADMIN')" th:action="@{/breakdown-co/{id1}/{id2}/remove(id1=${id1=${breakdownCd.bcdBcoId}, id2=${breakdownCd.bcdTypeName})}" method="post">
        <input type="submit" value="削除">
    </form> -->
    <spam th:if="${deleteError} neq null" th:text="${deleteError}"  style="color: red;"></spam>
    <!-- ログアウト -->
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="ログアウト">
    </form>
</body>
</html>