<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>内訳種目一覧</title>
</head>
<body>
    <h2>内訳種目一覧</h2>
    <!-- Flashメッセージの表示 -->
    <p th:if="${message}" th:text="${message}" style="color: blue;">
        完了メッセージ
    </p>
    <p th:if="${errorMessage}" th:text="${errorMessage}" style="color: red;">
        エラーメッセージ
    </p>
    <h3>工事契約</h3>
    <p th:text="${projectName}"></p>
    <h3>内訳頭紙区分</h3>
    <p th:text="${coIdTypeName}"></p>
    <h3>合計</h3>
    <p th:text="${#numbers.formatInteger(longTargePrice, 3, 'COMMA')} + '円'"></p>
    <table border="1">
        <thead>
            <tr>
                <th>整列番号</th>
                <th>種目名称</th>
                <th>金額</th>
                <th>㎡単価</th>
                <th>詳細</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="breakdownCd : ${breakdownCd}">
                <td style="text-align: center;" th:text="${breakdownCd.bcdOrder}"></td>
                <td th:text="${breakdownCd.bcdTypeName}"></td>
                <td style="text-align: right;" th:text="${#numbers.formatInteger(breakdownCd.bcdPrice, 3, 'COMMA')} + '円'"></td>
                <td style="text-align: right;" th:text="${breakdownCd.unitPricePerSquareMeter}"></td>
                <td>
                    <a th:href="@{/breakdown-cd/{id1}/{id2}/detail(id1=${breakdownCd.bcdBcoId}, id2=${breakdownCd.bcdTypeName})}">
                        詳細
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <h3 sec:authorize="hasAuthority('EDITOR')">入力金額チェック用検算（差額計算）</h3>
    <table sec:authorize="hasAuthority('EDITOR')">
        <tr>
            <th style="text-align: left;">内訳頭紙の直接工事費－内訳種目の合計金額＝</th>
            <td style="text-align: right;" th:text="${#numbers.formatInteger(defDirectConstructionPrice, 3, 'COMMA')} + '円'"></td>
        </tr>
    </table>
    <a sec:authorize="hasAuthority('EDITOR')" th:href="@{/breakdown-cd/{id}/create(id=${BcoId})}">新規登録</a>
    <a th:href="@{/}">メニューへ</a>
    <br>
    <!-- ログアウト -->
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="ログアウト">
    </form>
</body>
</html>