<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>内訳頭紙一覧</title>
</head>
<body>
    <h2>内訳頭紙一覧</h2>
    <!-- Flashメッセージの表示 -->
    <p th:if="${message}" th:text="${message}" style="color: blue;">
        完了メッセージ
    </p>
    <p th:if="${errorMessage}" th:text="${errorMessage}" style="color: red;">
        エラーメッセージ
    </p>
    <h3>工事契約</h3>
    <p th:text="${projectName}"></p>
    <table border="1">
        <thead>
            <tr>
                <th>名称</th>
                <th>金額</th>
                <th>割合</th>
                <th>詳細</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="breakdownCo : ${breakdownCo}">
                <td th:text="${breakdownCo.categoryOutline.typeName}"></td>
                <td style="text-align: right;" th:text="${#numbers.formatInteger(breakdownCo.bcoPrice, 3, 'COMMA')} + '円'"></td>
                <td style="text-align: right;" th:text="${breakdownCo.ratio}"></td>
                <td>
                    <a th:href="@{/breakdown-co/{id1}/{id2}/detail(id1=${breakdownCo.bcoCcId}, id2=${breakdownCo.bcoCoId})}">
                        詳細
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <h3 sec:authorize="hasAuthority('EDITOR')">入力金額チェック用検算（差額計算）</h3>
    <table sec:authorize="hasAuthority('EDITOR')">
        <tr>
            <th style="text-align: left;">直接工事費－（建築+電気設備+機械設備+昇降機設備）＝</th>
            <td style="text-align: right;" th:text="${#numbers.formatInteger(defDirectConstructionPrice, 3, 'COMMA')} + '円'"></td>
        </tr>
        <tr>
            <th style="text-align: left;">共通費－（共通仮設費+現場管理費+一般管理費等）＝</th>
            <td style="text-align: right;" th:text="${#numbers.formatInteger(defSumCommonExpensePrice, 3, 'COMMA')} + '円'"></td>
        </tr>
        <tr>
            <th style="text-align: left;">工事価格－（直接工事費+共通費）＝</th>
            <td style="text-align: right;" th:text="${#numbers.formatInteger(defTotalConstructionPrice, 3, 'COMMA')} + '円'"></td>
        </tr>
        <tr>
            <th style="text-align: left;">工事費－（工事価格+消費税相当額）＝</th>
            <td style="text-align: right;" th:text="${#numbers.formatInteger(defTotalPriceWithTax, 3, 'COMMA')} + '円'"></td>
        </tr>
    </table>
    <h3>種目別内訳表示</h3>
        <a th:href="@{/breakdown-cd/{id}/1010/specify(id=${projectId})}">建築</a>
        <a th:href="@{/breakdown-cd/{id}/1020/specify(id=${projectId})}">電気設備</a>
        <a th:href="@{/breakdown-cd/{id}/1030/specify(id=${projectId})}">機械設備</a>
        <a th:href="@{/breakdown-cd/{id}/1040/specify(id=${projectId})}">昇降機設備</a>
    <h3>種目別情報表示</h3>
        <a th:href="@{/information-db/{id}/1010/specify(id=${projectId})}">建築</a>
        <a th:href="@{/information-db/{id}/1020/specify(id=${projectId})}">電気設備</a>
        <a th:href="@{/information-db/{id}/1030/specify(id=${projectId})}">機械設備</a>
        <a th:href="@{/information-db/{id}/1040/specify(id=${projectId})}">昇降機設備</a>
    <h3>画面遷移表示</h3>
    <a sec:authorize="hasAuthority('EDITOR')" th:href="@{/breakdown-co/{id}/create(id=${projectId})}">新規登録</a>
    <a th:href="@{/}">メニューへ</a>
    <br>
    <!-- ログアウト -->
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="ログアウト">
    </form>
</body>
</html>