<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>編集者フォーム</title>
</head>
<body>
    <!-- タイトル：新規登録 or 更新処理 -->
    <h2 th:if="${employeeForm.isNew}">編集者新規登録</h2>
    <h2 th:unless="${employeeForm.isNew}">編集者更新処理</h2>
    <!-- アクション：新規登録 or 更新処理 -->
    <form th:action="${employeeForm.isNew} ? @{/employee/add} : @{/employee/{code}/revice(code=${employeeForm.code})}"
        th:object="${employeeForm}" method="post">
            <label for="code">社員番号</label>
            <div th:if="${employeeForm.isNew}">
                <!-- 新規登録時のcodeはtextで入力欄を表示する -->
                <input type="text" th:field="*{code}" id="code">
                <span th:if="${#fields.hasErrors('code')}" th:errors="*{code}" style="color: red;"></span>
                <span th:if="${codeError} neq null" th:text="${codeError}" style="color: red;"></span>
            </div>
            <div th:unless="${employeeForm.isNew}">
                <!-- 更新処理時のcodeはhiddenで仕込み、文字はth:textで表示する -->
                <input type="hidden" th:text="*{code}" th:field="*{code}" id="code">
            </div>
            <!-- 以下は、code以外のinput -->
            <label for="lastName">名字</label>
            <div>
                <input type="text" th:field="*{lastName}" id="lastName">
                <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" style="color: red;"></span>
            </div>
            <label for="firstName">名前</label>
            <div>
                <input type="text" th:field="*{firstName}" id="firstName">
                <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" style="color: red;"></span>
            </div>
            <label for="password">パスワード</label>
            <div th:unless="${employeeForm.isNew}">※変更する場合のみ入力</div>
            <div>
                <input type="password" th:field="*{password}" id="password">
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red;"></span>
                <span th:if="${passwordError} neq null" th:text="${passwordError}" style="color: red;"></span>
            </div>
            <label for="role">権限</label>
            <div>
                <select type="text" th:field="*{role}" id="role">
                    <!-- デフォルトをnullに設定して、バリデーション@NotNullでチェック -->
                    <option th:value="null"></option>
                    <!-- 有効な値が入ったセレクトボックス -->
                    <option th:each="item:${T(com.example.demo.entity.Role).values()}" th:value="${item}" th:text="${item.getValue()}" th:selected="*{role} == ${item}">
                </select>
                <span th:if="${#fields.hasErrors('role')}" th:errors="*{role}" style="color: red;"></span>
            </div>
        <!-- ボタン：新規登録 or 更新処理 -->
        <input th:if="${employeeForm.isNew}" type="submit" value="登録">
        <input th:unless="${employeeForm.isNew}" type="submit" value="更新">
    </form>
    <h3>画面遷移表示</h3>
    <a th:href="@{/}">メニューへ</a>
    <br>
    <!-- ログアウト -->
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="ログアウト">
    </form>
</body>
</html>