<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="utf-8">
    <title>内訳科目一覧</title>
</head>
<body>
    <h2>内訳科目一覧</h2>
    <!-- Flashメッセージの表示 -->
    <p th:if="${message}" th:text="${message}" style="color: blue;">
        完了メッセージ
    </p>
    <p th:if="${errorMessage}" th:text="${errorMessage}" style="color: red;">
        エラーメッセージ
    </p>
    <h3>工事契約</h3>
    <p th:text="${projectName}"></p>
    <h3>内訳頭紙区分</h3>
    <p th:text="${coTypeName}"></p>
    <h3>内訳種目区分</h3>
    <p th:text="${cdTypeName}"></p>
    <h3>内訳種目</h3>
    <p th:text="${bcdTypeName}"></p>
    <h3>合計</h3>
    <p th:text="${#numbers.formatInteger(longTargePrice, 3, 'COMMA')} + '円'"></p>
    <table border="1">
        <thead>
            <tr>
                <th>項目</th>
                <th>備考</th>
                <th>金額</th>
                <th>㎡単価</th>
                <th>詳細</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="breakdownCs : ${breakdownCs}">
                <td th:text="${breakdownCs.categorySubject.csTypeName}"></td>
                <td th:text="${breakdownCs.bcsDataText}"></td>
                <td style="text-align: right;" th:text="${#numbers.formatInteger(breakdownCs.bcsDataBigint, 3, 'COMMA')} + '円'"></td>
                <td style="text-align: right;" th:text="${breakdownCs.unitPricePerSquareMeter}"></td>
                <td><a th:href="@{/breakdown-cs/{id1}/{id2}/detail(id1=${breakdownCs.bcsBcdId}, id2=${breakdownCs.bcsCsId})}">詳細</a></td>
            </tr>
        </tbody>
    </table>
    <h3 sec:authorize="hasAuthority('EDITOR')">入力金額チェック用検算（差額計算）</h3>
    <table sec:authorize="hasAuthority('EDITOR')">
        <tr>
            <th style="text-align: left;">内訳種目の直接工事費－内訳科目の合計金額＝</th>
            <td style="text-align: right;" th:text="${#numbers.formatInteger(defDirectConstructionPrice, 3, 'COMMA')} + '円'"></td>
        </tr>
    </table>
    <h3>画面遷移表示</h3>
    <a sec:authorize="hasAuthority('EDITOR')" th:href="@{/breakdown-cs/{id}/create(id=${bcsBcdId})}">新規登録</a>
    <a th:href="@{/}">メニューへ戻る</a>
    <a th:href="@{/breakdown-cd/{id}/specify(id=${bcdBcoId})}">内訳種目一覧へ戻る</a>
    <br>
    <!-- ログアウト -->
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="ログアウト">
    </form>
</body>
</html>