<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="utf-8">
    <title>メニュー</title>
</head>
<body>
    <h2>メニュー画面</h2>
    <hr>
    <table border="1">
        <tr>
            <th>ログインユーザー名</th>
                <td th:text="${#authentication.principal.lastName} + ' ' + ${#authentication.principal.firstName}">
                    カスタム属性として追加したlastName値とfirstName値に書き換わる
                </td>
            </tr>
    </table>
    <div sec:authorize="hasAuthority('ADMIN')">
        【管理者権限で表示される部分】
    </div>
    <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/employee/list}">従業員一覧へ</a>
    <br>
    <div sec:authorize="hasAuthority('EDITOR')">
        【編集者権限で表示される部分】
    </div>
    <div sec:authorize="hasAuthority('GENERAL')">
        【一般権限で表示される部分】
    </div>
    <a sec:authorize="hasAuthority('GENERAL')" th:href="@{/design-contract/list}">設計契約一覧へ</a>
    <br>
    <a sec:authorize="hasAuthority('GENERAL')" th:href="@{/construction-contract/list}">工事契約一覧へ</a>
    <br>
    <div sec:authorize="isAuthenticated()">
        認証されたユーザーにのみ表示
    </div>
    <br>
    <!-- ログアウト -->
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="ログアウト">
    </form>
</body>
</html>