<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="utf-8">
    <title>工事契約一覧</title>
</head>
<body>
    <h2>工事契約一覧</h2>
    <!-- Flashメッセージの表示 -->
    <p th:if="${message}" th:text="${message}" style="color: blue;">
        完了メッセージ
    </p>
    <p th:if="${errorMessage}" th:text="${errorMessage}" style="color: red;">
        エラーメッセージ
    </p>
    <h3>設計契約</h3>
    <p th:text="${contractName}">
        設計契約
    </p>
    <table border="1">
        <thead>
            <tr>
                <th>業務番号</th>
                <th>発注工期</th>
                <th>工事名称</th>
                <th>頭紙</th>
                <th>詳細</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="constructionContract : ${constructionContract}">
                <td><a th:href="@{/design-contract/{id}/detail(id=${constructionContract.designContract.dcId})}" th:text="${constructionContract.designContract.contractNumber}"></a></td>
                <td th:text="${constructionContract.constructionPeriod}"></td>
                <td th:text="${constructionContract.projectName}"></td>
                <td><a th:href="@{/breakdown-co/{id}/specify(id=${constructionContract.ccId})}">頭紙</a></td>
                <td><a th:href="@{/construction-contract/{id}/detail(id=${constructionContract.ccId})}">詳細</a></td>
            </tr>
        </tbody>
    </table>
    <h3>画面遷移表示</h3>
    <a sec:authorize="hasAuthority('EDITOR')" th:href="@{/construction-contract/{id}/create(id=${dcId})}">新規登録</a>
    <a th:href="@{/}">メニューへ戻る</a>
    <a th:href="@{/design-contract/list}">設計契約一覧へ戻る</a>
    <a th:href="@{/construction-contract/list}">工事契約一覧へ戻る</a>
    <br>
    <!-- ログアウト -->
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="ログアウト">
    </form>
</body>
</html>