<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>内訳情報フォーム</title>
</head>
<body>
    <!-- タイトル：新規登録 or 更新処理 -->
    <h2 th:if="${informationDbForm.isNew}">内訳情報新規登録</h2>
    <h2 th:unless="${informationDbForm.isNew}">内訳情報更新処理</h2>
    <!-- アクション：新規登録 or 更新処理 -->
    <form th:action="${informationDbForm.isNew} ? @{/information-db/add} : @{/information-db/{id1}/{id2}/revice(id1=${informationDbForm.idbId}, id2=${informationDbForm.idbBcdId})}"
        th:object="${informationDbForm}" method="post">
            <!-- 新規登録時のidはAUTO_INCREMENTによる自動採番のため仕込み不要 -->
            <!-- 更新処理時のidはhiddenで仕込み、文字はth:textでも表示しない(th:text文を削除) -->
            <div th:unless="${informationDbForm.isNew}">
                <input type="hidden" th:field="*{idbId}" id="idbId">
            </div>
            <!-- 新規登録・更新処理時の工事契約のprojectNameはhiddenで仕込み、文字はth:textで表示する -->
            <label>工事契約</label>
            <div>
                <input type="hidden" th:text="*{constructionContract.projectName}" th:field="*{constructionContract.projectName}" id="constructionContract.projectName">
            </div>
            <!-- 新規登録・更新処理時の内訳頭紙区分のcoTypeNameはhiddenで仕込み、文字はth:textで表示する -->
            <label>内訳頭紙区分</label>
            <div>
                <input type="hidden" th:text="*{categoryOutline.coTypeName}" th:field="*{categoryOutline.coTypeName}" id="categoryOutline.coTypeName">
            </div>
            <!-- 新規登録・更新処理時の内訳頭紙区分のcdTypeNameはhiddenで仕込み、文字はth:textで表示する -->
            <label>内訳種目区分</label>
            <div>
                <input type="hidden" th:text="*{categoryDetail.cdTypeName}" th:field="*{categoryDetail.cdTypeName}" id="categoryDetail.cdTypeName">
            </div>
            <!-- 新規登録・更新処理時の工事契約のidはhiddenで仕込み、文字はth:textでも表示しない(th:text文を削除) -->
            <!-- 新規登録・更新処理時の工事契約のbcdTypeNameはhiddenで仕込み、文字はth:textで表示する -->
            <label for="idbBcdId">内訳種目</label>
            <div>
                <input type="hidden" th:field="*{idbBcdId}" id="idbBcdId">
                <input type="hidden" th:text="*{breakdownCd.bcdTypeName}" th:field="*{breakdownCd.bcdTypeName}" id="breakdownCd.bcdTypeName">
            </div>

            <!-- 新規登録時の内訳情報区分びidはセレクトボックスで選択して仕込み -->
            <label for="idbIiId">内訳情報区分</label>
            <div th:if="${informationDbForm.isNew}">
                <select type="text" th:field="*{idbIiId}" id="idbIiId">
                    <!-- デフォルトをnullに設定して、バリデーション@NotNullでチェック -->
                    <option th:value="null"></option>
                    <!-- 有効な値が入ったセレクトボックス -->
                    <option th:each="item : ${informationItemlMap}" th:value="${item.value}" th:text="${item.key}"></option>
                </select>
                <span th:if="${#fields.hasErrors('idbIiId')}" th:errors="*{idbIiId}" style="color: red;"></span>
            </div>
            <!-- 更新処理時の内訳種目区分のidはhiddenで仕込み、文字はth:textでも表示しない(th:text文を削除) -->
            <!-- 更新処理時の内訳種目区分のiiItemNameはhiddenで仕込み、文字はth:textで表示する -->
            <div th:unless="${informationDbForm.isNew}">
                <input type="hidden" th:field="*{idbIiId}" id="idbIiId">
                <input type="hidden" th:text="*{informationItem.iiItemName}" th:field="*{informationItem.iiItemName}" id="informationItem.iiItemName">
            </div>

            <!-- 以下は、上記以外のinput -->
            <label for="idbDataText">文字情報</label>
            <div>
                <input type="text" th:field="*{idbDataText}" id="idbDataText">
                <span th:if="${#fields.hasErrors('idbDataText')}" th:errors="*{idbDataText}" style="color: red;"></span>
            </div>
            <label for="idbDataDouble">数量情報</label>
            <div>
                <input type="text" th:field="*{idbDataDouble}" id="idbDataDouble">
                <span th:if="${#fields.hasErrors('idbDataDouble')}" th:errors="*{idbDataDouble}" style="color: red;"></span>
            </div>
            <label for="idbDataBigint">金額情報</label>
            <div>
                <input type="text" th:field="*{idbDataBigint}" id="idbDataBigint">
                <span th:if="${#fields.hasErrors('idbDataBigint')}" th:errors="*{idbDataBigint}" style="color: red;"></span>
            </div>
        <!-- ボタン：新規登録 or 更新処理 -->
        <input th:if="${informationDbForm.isNew}" type="submit" value="登録">
        <input th:unless="${informationDbForm.isNew}" type="submit" value="更新">
    </form>
    <h3>画面遷移表示</h3>
    <a th:href="@{/}">メニューへ</a>
    <br>
    <!-- ログアウト -->
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="ログアウト">
    </form>
</body>
</html>