<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>編集者一覧</title>
</head>
<body>
    <h2>編集者一覧</h2>
    <!-- Flashメッセージの表示 -->
    <p th:if="${message}" th:text="${message}"
        style="color: blue;">完了メッセージ
    </p>
    <p th:if="${errorMessage}"
        th:text="${errorMessage}" style="color: red;">
        エラーメッセージ
    </p>
    <table border="1" width="300">
        <thead>
            <tr>
                <th>社員番号</th>
                <th>名前</th>
                <th>詳細</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${editor_user}">
                <td th:text="${user.euCode}"></td>
                <td th:text="${user.name}"></td>
                <td>
                    <a th:href="@{/editor_user/{code}(code=${user.euCode})}">
                        詳細
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/editor_user/form}">新規登録</a>
</body>
</html>