<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.EditorUserMapper">
    <!-- 全件検索 -->
    <select id="selectAll" resultType="com.example.demo.entity.EditorUser">
        SELECT eu_code as euCode, first_name as firstName, last_name as lastName,
        password, created_at as createdAt,updated_at as updatedAt
        FROM editor_user ORDER BY eu_code;
    </select>
    <!-- １件検索 -->
    <select id="selectByCode" resultType="com.example.demo.entity.EditorUser">
        SELECT eu_code as euCode, first_name as firstName, last_name as lastName,
        password, created_at as createdAt, updated_at as updatedAt
        FROM editor_user WHERE eu_code = #{euCode};
    </select>
    <!-- 登録 -->
    <insert id="insert">
        INSERT INTO editor_user (eu_code, first_name, last_name, password, created_at, updated_at)
        VALUES
        (#{euCode}, #{firstName}, #{lastName}, #{password}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP);
    </insert>
    <!-- 更新 -->
    <update id="update">
        UPDATE editor_user SET first_name = #{firstName}, last_name = #{lastName},
        password = #{password}, updated_at = CURRENT_TIMESTAMP WHERE eu_code = #{euCode};
    </update>
    <!-- 削除 -->
    <delete id="delete">
        DELETE FROM editor_user WHERE eu_code = #{euCode}
    </delete>
</mapper>